<h2>Contactos</h2>

<table class="table table-striped">
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Teléfono</th>
        <th>E-mail</th>
        <th></th>
    </tr>
    {{#each listado}}
    <tr>
        <td>{{nombre}}</td>
        <td>{{apellido}}</td>
        <td>{{telefono}}</td>
        <td>{{email}}</td>
        <td>
            <a href="/{{id}}/editar" class="btn btn-primary">Editar</a>
            <a href="/{{id}}/borrar" class="btn btn-warning">Borrar</a>
        </td>
    </tr>
    {{/each}}
</table>

<h2>Formulario</h2>

<form method="post">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre" value="{{objEdidion.nombre}}">
    </div>
    <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" name="apellido" value="{{objEdidion.apellido}}">
    </div>
    <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="text" class="form-control" name="telefono" value="{{objEdidion.telefono}}">
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" class="form-control" name="email" value="{{objEdidion.email}}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="/" class="btn btn-light">Cancelar</a>
    </div>
</form>
<br>